<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="preProcessorToUpper" class="preProcessors.PreProcessorToUpperImpl"/>
    <bean id="preProcessorToLower" class="preProcessors.PreProcessorToLowerImpl"/>

    <bean id="rendererErrToLower" class="renders.RendererErrImpl">
        <constructor-arg ref="preProcessorToLower"/>
    </bean>
    <bean id="rendererErrToUpper" class="renders.RendererErrImpl">
        <constructor-arg ref="preProcessorToUpper"/>
    </bean>
    <bean id="rendererStandardToLower" class="renders.RendererStandardImpl">
        <constructor-arg ref="preProcessorToLower"/>
    </bean>
    <bean id="rendererStandardToUpper" class="renders.RendererStandardImpl">
        <constructor-arg ref="preProcessorToUpper"/>
    </bean>

    <bean id="printerWithPrefix" class="printers.PrinterWithPrefixImpl">
        <constructor-arg ref="rendererErrToUpper"/>
        <property name="prefix" value="PREFIX"/>
    </bean>

</beans>